/* Foundation v2.1.5 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

body{ padding: 20px 0; }
dl { display: block; margin: 4px 0; }
dl dt { display: block; float: left; width: 120px; color: #999; }
.box { border: 1px solid #CCC; padding: 5px; margin-bottom: 10px; }
.inline { display: inline; }

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


